<div class="splash">
  <div class="top"></div>
  <div class="introduction">
    <div class="col-1">Cette application vous propose de visualiser les zones les plus dangereuses de l'Ile-de-France, sur la p&#233;riode 2006-2011 : plus une zone est rouge, plus le nombre d'accidents survenus est important. En zoomant sur la carte puis en cliquant sur un point d'accident, vous acc&#233;derez au d&#233;tail des informations.</div>
    <div class="col-2">Vous pouvez affiner la carte en s&#233;lectionnant parmi les crit&#232;res qui vous sont propos&#233;s &#224; droite de l'application : conditions atmosph&#233;riques, type de collision, type de v&#233;hicule impliqu&#233;s, etc.</div>
    <div class="col-3">Nous ne pr&#233;sentons sur cette application que les accidents les plus graves selon un indice de gravit&#233; officiel. La m&#233;thodologie vous est d&#233;taill&#233;e dans l'onglet Sources/cr&#233;dits.</div>
    <a class="application" href="/app"></a>
  </div>
  <div class="bottom">
    <a href="http://www.leparisien.fr" target="_blank" class="parisien"></a>
    <a href="http://askmedia.fr/blog/" target="_blank" class="askmedia"></a>
  </div>
</div>