<div class="header">
  <div class="button criteres"></div>
  <div class="button radars"></div>
</div>

<div class="menu-popup criteres">
  <div class="content">
    <form class="form-criteres">
      <div class="section-critere-title"><div class="picto crit-luminosite"></div>Luminosit&#233;<div class="critere-count empty"></div></div>
      <div class="section-criteres">
        <div class="critere">Plein jour <input type="checkbox" name="lumiere[]" value="1"></div>
        <div class="critere">Cr&#233;puscule ou aube <input type="checkbox" name="lumiere[]" value="2"></div>
        <div class="critere">Nuit sans &#233;clairage public <input type="checkbox" name="lumiere[]" value="3"></div>
        <div class="critere">Nuit avec &#233;clairage public non allum&#233; <input type="checkbox" name="lumiere[]" value="4"></div>
        <div class="critere">Nuit avec &#233;clairage public allum&#233; <input type="checkbox" name="lumiere[]" value="5"></div>
      </div>

      <div class="section-critere-title"><div class="picto crit-intersection"></div>Intersection<div class="critere-count empty"></div></div>
      <div class="section-criteres">
        <div class="critere">Hors intersection <input type="checkbox" name="intersection[]" value="1"></div>
        <div class="critere">Intersection en X <input type="checkbox" name="intersection[]" value="2"></div>
        <div class="critere">Intersection en T <input type="checkbox" name="intersection[]" value="3"></div>
        <div class="critere">Intersection en T <input type="checkbox" name="intersection[]" value="4"></div>
        <div class="critere">Intersection &#224; plus de 4 branches <input type="checkbox" name="intersection[]" value="5"></div>
        <div class="critere">Giratoire <input type="checkbox" name="intersection[]" value="6"></div>
        <div class="critere">Place <input type="checkbox" name="intersection[]" value="7"></div>
        <div class="critere">Passage &#224; niveau <input type="checkbox" name="intersection[]" value="8"></div>
        <div class="critere">Autre intersection <input type="checkbox" name="intersection[]" value="9"></div>
      </div>

      <div class="section-critere-title"><div class="picto crit-meteo"></div>Conditions m&#233;t&#233;o<div class="critere-count empty"></div></div>
      <div class="section-criteres">
        <div class="critere">Normale <input type="checkbox" name="atmospherique[]" value="1"></div>
        <div class="critere">Pluie l&#233;g&#232;re <input type="checkbox" name="atmospherique[]" value="2"></div>
        <div class="critere">Pluie forte <input type="checkbox" name="atmospherique[]" value="3"></div>
        <div class="critere">Neige - gr&#234;le <input type="checkbox" name="atmospherique[]" value="4"></div>
        <div class="critere">Brouillard - fum&#233;é <input type="checkbox" name="atmospherique[]" value="5"></div>
        <div class="critere">Vent fort - temp&#234;te <input type="checkbox" name="atmospherique[]" value="6"></div>
        <div class="critere">Temps &#233;blouissant <input type="checkbox" name="atmospherique[]" value="7"></div>
        <div class="critere">Temps couvert <input type="checkbox" name="atmospherique[]" value="8"></div>
        <div class="critere">Autre <input type="checkbox" name="atmospherique[]" value="9"></div>
      </div>

      <div class="section-critere-title"><div class="picto crit-typevoie"></div>Types de voies<div class="critere-count empty"></div></div>
      <div class="section-criteres">
        <div class="critere">Autoroute <input type="checkbox" name="route[]" value="1"></div>
        <div class="critere">Route nationale <input type="checkbox" name="route[]" value="2"></div>
        <div class="critere">Route d&#233;partementale <input type="checkbox" name="route[]" value="3"></div>
        <div class="critere">Voie communale <input type="checkbox" name="route[]" value="4"></div>
        <div class="critere">Hors r&#233;seau public <input type="checkbox" name="route[]" value="5"></div>
        <div class="critere">Parc de stationnement <input type="checkbox" name="route[]" value="6"></div>
        <div class="critere">Autre <input type="checkbox" name="route[]" value="9"></div>
      </div>

      <div class="section-critere-title"><div class="picto crit-tues"></div>Nombre de tu&#233;s<div class="critere-count empty"></div></div>
      <div class="section-criteres">
        <div class="critere">Aucun <input type="checkbox" name="tues[]" value="0"></div>
        <div class="critere">Un mort <input type="checkbox" name="tues[]" value="1"></div>
        <div class="critere">Plus d'un mort <input type="checkbox" name="tues[]" value="2"></div>
      </div>

      <div class="section-critere-title"><div class="picto crit-vehicule"></div>Cat&#233;gories de v&#233;hicule<div class="critere-count empty"></div></div>
      <div class="section-criteres">
        <div class="critere">V&#233;lo <input type="checkbox" name="vehicules[]" value="1"></div>
        <div class="critere">Deux roues motoris&#233; <input type="checkbox" name="vehicules[]" value="2"></div>
        <div class="critere">V&#233;hicule l&#233;ger <input type="checkbox" name="vehicules[]" value="3"></div>
        <div class="critere">Autre <input type="checkbox" name="vehicules[]" value="4"></div>
        <div class="critere">Poids-lourd <input type="checkbox" name="vehicules[]" value="5"></div>
        <div class="critere">Transports en commun <input type="checkbox" name="vehicules[]" value="6"></div>
      </div>

      <div class="section-critere-title"><div class="picto crit-collision"></div>Collisions<div class="critere-count empty"></div></div>
      <div class="section-criteres">
        <div class="critere">Deux v&#233;hicules - frontale <input type="checkbox" name="collision[]" value="1"></div>
        <div class="critere">Deux v&#233;hicules – par l'arri&#232;re <input type="checkbox" name="collision[]" value="2"></div>
        <div class="critere">Deux v&#233;hicules – par le cot&#233; <input type="checkbox" name="collision[]" value="3"></div>
        <div class="critere">Trois v&#233;hicules et + – en cha&#238;ne <input type="checkbox" name="collision[]" value="4"></div>
        <div class="critere">Trois v&#233;hicules et + - chocs multiples <input type="checkbox" name="collision[]" value="5"></div>
        <div class="critere">Autre collision <input type="checkbox" name="collision[]" value="6"></div>
        <div class="critere">Sans collision <input type="checkbox" name="collision[]" value="7"></div>
      </div>
    </form>
  </div>
  <div class="popup-footer">
    <a href="#" class="revert"></a>
    <div class="nb_accidents"></div>
    <a href="#" class="update"></a>
  </div>
</div>

<div class="menu-popup radars">
  <div class="content">
    <div class="critere">Radars fixes <input type="checkbox" name="category[]" value="1"></div>
    <div class="critere">Radars feu rouge <input type="checkbox" name="category[]" value="2"></div>
    <div class="critere">Radars poids-lourds <input type="checkbox" name="category[]" value="3"></div>
    <div class="critere">Radars tron&#231;ons <input type="checkbox" name="category[]" value="4"></div>
  </div>
  <div class="popup-footer">
    <a href="#" class="revert"></a>
    <a href="#" class="update"></a>
  </div>

</div>

<div id="map"></div>
<div class="footer">

</div>